<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ussu.modules.system.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ussu.modules.system.entity.SysDept">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="phone" property="phone" />
        <result column="sort" property="sort" />
        <result column="path" property="path" />
        <result column="level" property="level" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, full_name, phone, sort, path, level, remarks, create_by, create_time, update_by, update_time, del_flag, version
    </sql>
    <!--通过父级id获取直接自己部门-->
    <select id="findSubDeptByParentId" resultType="java.util.Map">
        SELECT
            a.id,a.parent_id AS parentId,a.name,a.full_name AS fullName,a.remarks,
            (SELECT EXISTS(SELECT 1 FROM sys_dept WHERE del_flag = 0 AND parent_id = a.id)) AS isParent
        FROM sys_dept AS a WHERE a.del_flag = 0 AND a.parent_id = #{pid}
    </select>
    <select id="listAll2" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        FROM sys_dept AS a WHERE a.del_flag = 0
    </select>

</mapper>
