<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ussu.modules.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ussu.modules.system.entity.SysUser">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="user_type" property="userType" />
        <result column="sort" property="sort" />
        <result column="avatar" property="avatar" />
        <result column="login_ip" property="loginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="status" property="status" />
        <result column="source" property="source" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, account, password, name, nick_name, sex, email, phone, user_type, sort, avatar, login_ip, last_login_time, status, source, remark, create_by, create_time, update_by, update_time, del_flag, version
    </sql>
    <sql id="Base_Column_List_A">
        a.id, a.dept_id, a.account, a.password, a.name, a.nick_name, a.sex, a.email, a.phone, a.user_type, a.sort, a.avatar, a.login_ip, a.last_login_time, a.status, a.source, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.del_flag, a.version
    </sql>
    <!--分页查询-->
    <select id="findPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List_A"/>,sd.name as deptName
        from
        sys_user a left join sys_dept sd on a.dept_id = sd.id
        where a.del_flag = 0
        <if test="param.deptId != null and param.deptId !=''">
            and sd.path like concat('%',#{param.deptId},'%')
        </if>
        <if test="param.account != null and param.account !=''">
            and a.account like concat('%',#{param.account},'%')
        </if>
        <if test="param.name != null and param.name !=''">
            and a.name like concat('%',#{param.name},'%')
        </if>
        <if test="param.sex != null and param.sex !=''">
            and a.sex = #{param.sex}
        </if>
    </select>

</mapper>
