<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ussu.modules.dczx.mapper.DcPaperQuestionTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ussu.modules.dczx.entity.DcPaperQuestionTopic">
        <id column="id" property="id" />
        <result column="paper_id_long" property="paperIdLong" />
        <result column="topic_id_str" property="paperIdStr" />
        <result column="topic_id" property="topicId" />
        <result column="topic_type_cd" property="topicTypeCd" />
        <result column="full_topic_type_cd" property="fullTopicTypeCd" />
        <result column="question_type_nm" property="questionTypeNm" />
        <result column="topic_type_id" property="topicTypeId" />
        <result column="interface_log_id" property="interfaceLogId" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,paper_id_long,paper_id_str, topic_id, topic_type_cd, full_topic_type_cd, question_type_nm, topic_type_id, interface_log_id, del_flag
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from dc_paper_question_topic where del_flag = 0 and id = #{id}
    </select>

    <!--通过topic_type_ids查询-->
    <select id="findByTopicTypeIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dc_paper_question_topic
        where del_flag =0
        <if test="ids != null">
            and topic_type_id in
            <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
