<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ussu.modules.dczx.mapper.DcInterfaceLogMapper">

   <select id="groupByUserid" resultType="cc.ussu.modules.dczx.entity.DcInterfaceLog">
       select userid,min(create_time) as createTime
       from dc_interface_log
       where 1=1
       <if test="list != null and list.size > 0">
           and userid not in
           <foreach collection="list" item="acc" open="(" close=")" separator=",">
               #{acc}
           </foreach>
       </if>
       GROUP BY userid
   </select>

</mapper>
