<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ussu.modules.ecps.item.mapper.EbParaValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ussu.modules.ecps.item.entity.EbParaValue">
        <id column="para_id" property="paraId" />
        <result column="item_id" property="itemId" />
        <result column="feature_id" property="featureId" />
        <result column="para_value" property="paraValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        para_id, item_id, feature_id, para_value
    </sql>

</mapper>
